.brand-slider {
    padding: 20px 0;
  }
  
  .brands-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .brand-name{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  .brand-item {
    padding: 15px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .brand-item:hover {
    opacity: 1;
  }
  
  .brand-item img {
    max-width: 120px;
    max-height: 60px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .brands-container {
      justify-content: center;
      gap: 20px;
    }
    
    .brand-item {
      width: 33.33%;
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .brand-item {
      width: 50%;
    }
  }